// FONT
$default-font-size: 1.8rem;
// Webfonts 
$fa-font-path: "../../webfonts";
$color-primary: #64c2c8;
$color-secondary: #213290;
$color-tertiary: #2c244d;
// $color-primary: #55c57a;
$color-primary-light: #70d8cf;
$color-primary-dark: #385754;