.contact {
    @include clearfix;
    // display: cover;
    background: rgb(49, 55, 87);
    width: 80%;
    margin: 0 auto 1em;
    box-shadow: 1px -2px 8px $color-primary-dark;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    // @include respond(small) {
    //     display: block;
    // }
    .sub-header {
        background: linear-gradient(to bottom, rgba($color-primary-light, 0.8) 50%, rgba($color-tertiary, 0.5) 75%, rgba($color-primary-dark, 0.8));
        background-blend-mode: saturation;
        mix-blend-mode: luminosity;
        border: 1px solid black;
        justify-content: center;
        text-align: center;
        padding: 25px;
        box-shadow: 1px 4px 8px $color-primary-dark;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        h2 {
            @include heading-font;
        }
        @include respond(small) {
            margin-top: 2em;

        }
    }
}

#contactForm {
    @include clearfix;
    padding: 2em 2em;
    display: block;
    color: white;
    width: 80%;
    margin: 0 auto;
    @include respond(medium) {
        width: 90%;
    }
    @include respond(small) {
            width: 95%;
    }
}