#myContent {
    transform: translateX(20px);
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}

.active {
    align-content: stretch;
    color: #002fff !important;
    fill: #ff0000;
    background-color: rgb(255, 255, 255);
}