    .featured {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        @include respond(small) {
            display: block;
        }
        .sub-header {
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            background: linear-gradient(to bottom, rgba($color-primary-light, 0.8) 50%, rgba($color-tertiary, 0.5) 75%, rgba($color-primary-dark, 0.8));
            background-blend-mode: saturation;
            // mix-blend-mode: luminosity;
            border: 1px solid black;
            justify-content: center;
            text-align: center;
            padding: 25px;
            box-shadow: 1px 4px 8px $color-primary-dark;
            @include respond(small) {
                display: block;
            }
            @include respond(medium) {
                display: block;
            }
            h2 {
                @include heading-font;
            }
        }
        .cards {
            background-image: linear-gradient(to left bottom, rgba($color-primary-light, 0.5), rgba($color-secondary, 0.5)), url("../img/abandoned-forest-line-shrunk2.jpg");
            background-blend-mode: hard-light;
            padding: 1rem 1rem;
            box-shadow: inset 2px 2px 12px 8px black;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            @include respond(small) {
                display: inline-block;
            }
            @include respond(medium) {
                display: block;
            }
        }
    }