*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: linear-gradient(to top, $color-primary 10%, $color-tertiary 90%);
    // margin: -2.9rem -3rem;
}

a {
    text-decoration: none;
    font-family: 'Arial', sans-serif;
}

// h2 {
//     font-family: 'Arial Narrow', Arial, sans-serif;
//     font-weight: 400;
// }