@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600;700&family=Grandstander:wght@500&display=swap');
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    // padding: 3rem;
}

.heading-primary {
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    z-index: 5;
    transform: scale(2, 0.5rem);
    transition: all 0.3s;
    color: white;
    -webkit-transform: scale(2, 0.5rem);
    -moz-transform: scale(2, 0.5rem);
    -ms-transform: scale(2, 0.5rem);
    -o-transform: scale(2, 0.5rem);
    text-shadow: 8px -8px 1px rgba(10, 37, 22, 0.7);
    &--main {
        animation: slideInLeft 2s;
        -webkit-animation: slideInLeft 2s;
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 1.8rem;
        margin-bottom: 2rem;
        @include respond(medium) {
            letter-spacing: 1.6;
        }
        @include respond(small) {
            letter-spacing: 1rem;
            font-size: 4rem;
        }
        &:active {
            text-shadow: -8px -1px 1px rgba(221, 228, 224, 0.295);
            z-index: 1;
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            cursor: default;
        }

    }
    &--sub {
        animation: slideInLeft 3s alternate;
        -webkit-animation: slideInLeft 3s alternate;
        text-shadow: -4px 8px 1px rgba(10, 37, 22, 0.7);
        display: block;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 1.2rem;
        z-index: -1;
        @include respond(medium) {
            letter-spacing: 1rem;
        }
        @include respond(small) {
            letter-spacing: 0.6rem;
            font-size: 1.2rem;
        }
        &:hover {
            filter: hue-rotate(-90deg) drop-shadow(-1px 2px 3px black);
            -webkit-filter: hue-rotate(-90deg) drop-shadow(-1px 2px 3px black);
            text-shadow: none;
            transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -ms-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
        }
        &:not(:hover) {
            filter: drop-shadow(1px 1px 2px rgba(21, 76, 255, 0.5));
            -webkit-filter: drop-shadow(1px 1px 2px rgba(21, 76, 255, 0.5));
            transition: all .2s ease-out;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
        }
    }
}

#hello {
    @include heading-font;
    font-size: xx-large;
    font-style: oblique;
    -webkit-text-decoration: underline overline double black;
    text-decoration: underline overline double black;
    backface-visibility: hidden;
    -webkit-animation: subtitleAnimate 0.9s normal;
    animation: subtitleAnimate 0.9s normal;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    // margin-top: 2em;
    -webkit-backface-visibility: hidden;
}

.content {
    h3 {
        font-size: 2rem;
        color: #fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        -ms-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        animation: appearComponent .5s normal;
        -webkit-animation: appearComponent .5s normal;
        @include respond(medium) {
            font-size: 1.8rem;
            padding-right: 2.4rem;
        }
        @include respond(small) {
            // font-size: 1.6rem;
            padding-right: 2.2rem;
        }
    }
    p,
    ul,
    h4 {
        padding-left: 2rem;
        color: #fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        transform: translateX(20px);
        transition: all .9s ease-in;
        -webkit-transition: all .9s ease-in;
        -moz-transition: all .9s ease-in;
        -ms-transition: all .9s ease-in;
        -o-transition: all .9s ease-in;
        animation: appearComponent .9s normal;
        -webkit-animation: appearComponent .9s normal;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
    }
    h4,
    p {
        padding-right: 2em;
        font-size: 1.6rem;
        transition: all .7s ease-in;
        -webkit-transition: all .7s ease-in;
        -moz-transition: all .7s ease-in;
        -ms-transition: all .7s ease-in;
        -o-transition: all .7s ease-in;
        color: #fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        @include respond(medium) {
            font-size: 1.4rem;
            padding-right: 2.4rem;
        }
    }
    ul,
    li {
        font-size: 1.6rem;
        animation: slideInLeft .9s forwards;
        -webkit-animation: slideInLeft .9s forwards;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        @include respond(small) {
            text-indent: initial;
        }
    }
}

.featured {
    .card-title {
        font-size: 1.8rem;
    }
    .card-body {
        font-size: 1.4rem;
    }
}

.contact {
    label {
        font-size: 1.8rem;
    }
    .form-control {
        height: 3rem;
        font-size: 1.4rem;
    }
    textarea {
        min-height: 8rem;
    }
}